@tailwind base;
@tailwind components;
@tailwind utilities;


/* background image to the body */
body {
  /* background-image: url("https://img.freepik.com/free-vector/gradient-glassmorphism-background_23-2149447861.jpg?w=996&t=st=1696454986~exp=1696455586~hmac=c0f101447d63c1505a12e860621e458c17f2da54ef78070664bd74edfcaa4187"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
}